%footer.main-footer.style-2
  .auto-container
    .row
      .social-column.col-md-3.col-sm-5.col-xs-12
        %h2 Redes Sociales
        %ul
          .info
            %a{ href: 'https://www.facebook.com/puppo.gross/' }
              .icon.fa.fa-facebook-f
              puppo.gross
            %br
            %a{ href: 'https://www.instagram.com/puppo.gross/' }
              .icon.fa.fa-instagram
              puppo.gross

      .office-column.col-md-6.col-sm-7.col-xs-12
        %h2 Contacto
        %ul
          .col-md-12.col-sm-12.col-xs-12
            .office-box
              .info
                %a{ href: '#' }
                  .icon.fa.fa-map-marker
                  Tomas Diago 623 #302
                %br
                %a{ href: 'mailto:ventas@puppogross.com' }
                  .icon.fa.icon-mail
                  ventas@puppogross.com
                %br
                .icon.fa.fa-whatsapp
                %a{ href: 'https://api.whatsapp.com/send?phone=092664203&text=Hola%20Puppo%20Gross', target: '_blank' }
                  058 762 5325
                %br
                %br
                %a{ href: 'mailto:alquileres@puppogross.com' }
                  .icon.fa.icon-mail
                  alquileres@puppogross.com
                %br
                .icon.fa.fa-phone
                %a{ href: 'tel:097339625' }
                  058 762 5325
                %br
                .icon.fa.fa-whatsapp
                %a{ href: 'https://api.whatsapp.com/send?phone=097339625&text=Hola%20Puppo%20Gross', target: '_blank' }
                  058 762 5325
      .office-column.col-md-3.col-sm-12.col-xs-12
        .powered-by
          .text
            Powered by
          = image_tag 'infocasas.png', alt: 'Logo'
