%section.ads-highlights{ class: "style-#{SITE_CONFIG['home_titles_style']}" }
  %h2.sec-title.centered Destacados #{SITE_CONFIG['site_name']}
  .banner-container.banners-carousel
    .banner.square#div-gpt-ad-1503513918839-2
    .banner.square#div-gpt-ad-1503513918839-3
    .banner.square#div-gpt-ad-1503513918839-4
