- if SITE_CONFIG['set_og_tags']
  - set_meta_tags og: { title: 'Empresa', url: request.original_url, image: 'aboutPage/about-page.jpg' }
- title 'Empresa'

.page-content
  %section.about-container.style-2
    .image-container
    .description.container
      .row
        .col-12
          %h2 Quienes somos
          %p Zona Brokers nace en el rubro inmobiliario para ofrecer un servicio actual y personalizado a todos nuestros clientes a través de una nueva generación de profesionales que entienden las necesidades de un mercado en constante cambio.
          %p Contamos con un departamento legal que brinda asesoría con escribanos, contadores y abogados, que se encargarán de todos los servicios referentes a la propiedad. Colaboramos con todos los colegas del sector compartiendo la comercialización de las propiedades para realizarlo en el menor tiempo, con la mayor cantidad de ofertas y logrando el mejor precio que el mercado está dispuesto a ofrecer.
          %p Esto nos da la posibilidad de potenciar nuestros recursos junto al resto de las inmobiliarias, incorporando nuevas fuerzas de ventas y bajando los tiempos en cada transacción.
          %p Para los inversores que confían en nuestro trabajo contamos con amplio catálogo de propiedades dentro y fuera de Montevideo, con unidades en pozo, en construcción y de entrega inmediata.
          %p Encontramos una oportunidad hecha a tu medida.
      .row
        .foto
          = image_tag 'aboutPage/federico_puppo.png', class: 'author-image', alt: ''
          %h4
            FEDERICO PUPPO
          %p DIRECTOR
        .texto
          %h3
            SOBRE LA EMPRESA
          %p Somos una empresa familiar iniciada por el Sr. Juan Carlos Puppo Stambuk.
          %p Con mas de 50 años en el mercado inmobiliario y con el mismo espíritu emprendedor basado en la ética y el profesionalismo, en PUPPO GROSS existimos para procurarle a nuestros clientes soluciones personalizadas, eficaces y eficientes, ajustadas a sus necesidades individuales.
