- if SITE_CONFIG['set_og_tags']
  - set_meta_tags og: { title: 'Nosotros', url: request.original_url, image: 'logo.png' }
- title 'Nosotros'

.page-content
  %section.about-container
    .auto-container
      .info-container
        %h1
          NOSOTROS
        .text
          Somos una empresa familiar apasionada por lo que hacemos. Nuestro sello y energías están enfocadas en brindar un servicio personalizado durante toda la gestión, tanto en la búsqueda como en la venta, sintiendo que más que una propiedad, gestionamos un HOGAR.
        .text
          Nos gusta que nuestros clientes estén tranquilos mientras nosotros trabajamos para ellos.
