- if SITE_CONFIG['set_og_tags']
  - set_meta_tags og: { title: 'Contactanos', url: request.original_url, image: 'logo.png' }

.page-content
  - title 'Contactanos'

  %section.contact-section
    .map-container
      %h2
        Nuestras Sucursales
      #contact-map
        %iframe{:allowfullscreen => "", :height => "315", :loading => "lazy", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.194439948932!2d-56.137121084939125!3d-34.9015696803834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f813dc0efbb2d%3A0xb0655675da290ff7!2sTiburcio%20G%C3%B3mez%201330%2C%2011300%20Montevideo%2C%20Departamento%20de%20Montevideo%2C%20Uruguay!5e0!3m2!1ses!2sve!4v1669902177469!5m2!1ses!2sve", :style => "border:0;", :width => "100%"}
        <iframe src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    .contact-container
      %h1 CONTACTANOS
      = form_tag contact_index_path, method: 'post', remote: true do
        .contact-form
          .form-group.col-md-4.col-sm-4.col-xs-12
            %input{ name: 'name', placeholder: 'Nombre*', required: true, type: 'text', value: '' }
          .form-group.col-md-4.col-sm-4.col-xs-12
            %input{ name: 'email', placeholder: 'Email*', required: true, type: 'email', value: '' }
          .form-group.col-md-4.col-sm-4.col-xs-12
            %input{ name: 'phone', placeholder: 'Teléfono', required: false }
          .form-group.col-md-12.col-sm-12.col-xs-12
            %textarea{ name: 'question', placeholder: 'Consulta*', required: true }
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}", type: 'submit', id: 'submit-button' } Enviar
