.about-container {
  position: relative;
  width: 100%;

  .auto-container {
    max-width: 1100px;
    max-height: 530px;

    .info-container {
      position: relative;
      margin: 0 auto;
      margin-top: 50px;
      width: 615px;
      height: 530px;

      h1 {
        padding-left: 8px;
        padding-bottom: 20px;
        margin-bottom: 32px;
        border-bottom: 2px solid $primary-color;
        color: #333333;
        font-weight: 600;
      }

      .key-image {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 100px;
      }

      .text {
        margin-bottom: 20px;
        color: #333333;
      }

      .author {
        margin-top: 40px;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .author-image {
      position: absolute;
      bottom: 0px;
      height: 390px;
    }
  }
}
.about-containerb{
  padding: 55px 0;
  background-color: $footer-background-color;

  h2{
    font-weight: bold;
  }

  h5{
    font-size: 20px;
  }

  h2, h5{
    color: $primary-color;
    text-align: center;
  }

  p{
    font-size: 16px;
    line-height: 22px;

    span{
      font-weight: bold;
    }
  }

  img.image {
    max-width: 67px;
    width: 100%;
    margin-top: 36px;
  }

  .line{
    border-bottom: 3px solid #47B5FF;
    width: 10%;
    padding-top: 21px;
    margin-bottom: 11px;
  }
}

.about-containerc{
  text-align: center;
  padding-top: 63px;
  padding-bottom: 82px;

  img.agente{
    max-width: 188px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 14px;
  }

  h2{
    font-weight: bold;
    color: $primary-color;
    text-align: center;
  }

  h5{
    font-weight: 400;
    color: $primary-color;
    font-size: 20px;

    span{
      font-weight: bold;
    }
  }

  p{
    margin-bottom: 0;
    font-size: 16px;
    color: #4D4D4D;
    line-height: 26px;
  }

  button{
    margin-top: 7px;
  }

  .line{
    border-bottom: 3px solid #47B5FF;
    width: 10%;
    padding-top: 3px;
    margin-bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-container.style-2 {
  padding: 0px;
  padding-bottom: 52px;

  .image-container {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-image: image-url('aboutPage/about-page.jpg');
  }

  .auto-container {
    max-width: 750px;

    .info-container {
      height: inherit;

      h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;

        &.primary {
          color: $primary-color;
        }
      }

      .text {
        margin-bottom: 45px;

        p {
          margin-bottom: 30px;
        }
      }
    }
  }

  .description {
    text-align: center;

    h2{
      color: $primary-color;
      padding-top: 51px;
      padding-bottom: 27px;
      font-weight: bold;
    }

    p{
      font-size: 18px;
      color: $tertiary-color;
    }

    h5{
      font-size: 20px;
      font-weight: 700;
    }

    .foto {
      flex-basis: 50%;
      background: #59c7af;
      padding: 50px;
      text-align: center;
      color: white;

      img {
        margin: 0 auto;
        display: flex;
      }
      h4 {
        color: #1a2f5d;
        font-weight: 500;
        margin-top: 15px;
      }
    }

    .texto {
      flex-basis: 50%;
      padding: 40px;
      text-align: center;

      h3 {
        color: #1a2f5d;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }

  }

}

@media only screen and (max-width: 1100px) {
  .about-container {
    padding: 20px 25px 0px;

    .auto-container {
      max-height: none;

      .info-container {
        margin-top: 0px;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;

        .key-image {
          position: relative;
          height: 100px;
          display: block;
          margin: 40px auto;
        }

        h1 {
          font-size: 23px;
          text-align: center;
          width: 100%;
          padding: 15px 0px;
          margin: 0;
        }

        .text {
          text-align: center;
        }

        .author {
          text-align: center;
        }
      }

      .author-image {
        position: relative;
        height: 280px;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .about-container.style-2 {
    padding: 20px;

    .image-container {
      margin: -20px;
      width: calc(100% + 40px)
    }

    .description {
      flex-wrap: wrap;

      .foto {
        flex-basis: 100%;
        padding: 50px 20px;
      }

      .texto {
        flex-basis: 100%;
        padding: 50px 20px;
      }
    }

    .auto-container {
      text-align: center;

      .info-container {
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .about-containerb h5 {
    display: none;
  }
  .about-container.style-2 {

    .description {
      text-align: left;

      h2{
        font-size: 24px;
      }

      p{
        font-size: 16px;

        span{
          font-size: 16px;
        }
      }
    }

    .image-container {
      background-image: image-url('aboutPage/about-pagem.jpg');
    }
  }

  .about-containerb {
    text-align: center;

    h2{
      font-size: 24px;
    }

    p{
      font-size: 16px;
    }

    .line{
      margin-bottom: 7px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .about-containerc {

    h2{
      font-size: 24px;
    }

    img.agente {
      margin-top: 32px;
      margin-bottom: 14px;
    }
  }
}
