.brokers-container {
    position: relative;
    width: 100%;
    padding-bottom: 0;

    .auto-container {
      max-width: 1100px;
      max-height: 530px;

      .info-container {
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
        width: 615px;
        height: 530px;

        h1 {
          padding-left: 8px;
          padding-bottom: 20px;
          margin-bottom: 32px;
          border-bottom: 2px solid #0B4461;
          color: #333333;
          font-weight: 600;
        }

        .key-image {
          position: absolute;
          bottom: 0px;
          right: 0px;
          height: 100px;
        }

        .text {
          margin-bottom: 20px;
          color: #333333;
        }

        .author {
          margin-top: 40px;
          font-weight: 500;
          font-size: 16px;
        }
      }

      .author-image {
        position: absolute;
        bottom: 0px;
        height: 390px;
      }
    }
  }

  .brokers-containerc{
    text-align: center;
    padding-top: 63px;
    padding-bottom: 82px;

    img.agente{
      max-width: 188px;
      width: 100%;
      margin-top: 80px;
      margin-bottom: 14px;
    }

    h2{
      font-weight: bold;
      color: #0B4461;
      text-align: center;
    }

    h5{
      font-weight: 400;
      color: #0B4461;

      span{
        font-weight: bold;
      }
    }

    p{
      margin-bottom: 0;
    }

    button{
      margin-top: 7px;
    }

    .line{
      border-bottom: 3px solid #47B5FF;
      width: 10%;
      padding-top: 3px;
      margin-bottom: 10px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .perfilBroker{
    display: flex;
    flex-direction: row;

    .brokerCol.bg{
      background: #f1f1f1;
      padding: 50px 16px;
    }

    .brokerCol{
      width: 50%;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      p.bigTitle{
        font-size: 28px;
        color: #0B4461;
        margin: 0;
        font-weight: 700;
        padding-bottom: 18px;
      }

      p{
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
      }

      .innerColBroker{
        display: flex;
        width: 100%;
        max-width: 600px;
        margin: auto;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        li{
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: baseline;
          p{
            font-size: 16px;
            font-weight: 400;
          }
          i{
            color: #47B5FF;
            margin-right: 5px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .contact-container {
    width: 100%;
    padding: 75px 0 65px 0;
    background-image: image-url('brokersPage/suscripcion.jpg');
    background-size: cover;
    background-position: right;

    h2 {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      padding: 80px 0px 0px;
      color: white;
      padding: 0 16px;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    .preContact {
      text-align: center;
      font-size: 20px;
      padding: 0 16px 20px;
      line-height: 1.3;
      color: white;
    }

    .contact-form {
      margin: 0 auto;
      max-width: 1125px;
      padding: 15px;

      .form-group {
        margin-bottom: 20px;

        input {
          margin-top: 30px;
          width: 100%;
          height: 40px;
          padding: 15px;
        }
      }

      textarea {
        width: 100%;
        height: 240px;
        padding: 15px;
        margin-top: 10px;
      }

      button {
        background-color: #47B5FF;
        font-weight: normal;
        margin: 0px auto;
        display: block;
        min-width: 335px;
      }
    }
  }

  .brokers-container.style-1 {
    padding: 0px;

    .image-container {
      height: 350px;
      width: 100%;
      background-size: cover;
      background-position: top center;
      background-image: image-url('brokersPage/brokers-page.jpg');
    }

    .auto-container {
      max-width: 750px;

      .info-container {
        height: inherit;

        h2 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 30px;

          &.primary {
            color: #0B4461;
          }
        }

        .text {
          margin-bottom: 45px;

          p {
            margin-bottom: 30px;
          }
        }
      }
    }

    .description {

      h2{
        color: $primary-color;
        padding-top: 51px;
        padding-bottom: 15px;
        font-weight: bold;
        text-align: center;
      }

      p{
        font-size: 18px;
        color: #4D4D4D;
        span{
          font-weight: 700;
        }
      }

      h5{
        font-size: 20px;
        margin-bottom: 50px;
        color: #0B4461;
        text-align: center;
      }

      .motivo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      .image{
        max-width: 64px;
        width: 100%;
        margin-right: 25px;
      }

      .texto {
        flex-basis: 50%;
        padding: 40px;
        text-align: center;

        h3 {
          color: #1a2f5d;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .brokers-container {
      padding: 0;

      .auto-container {
        max-height: none;

        .info-container {
          margin-top: 0px;
          margin-bottom: 20px;
          width: 100%;
          height: 100%;

          .key-image {
            position: relative;
            height: 100px;
            display: block;
            margin: 40px auto;
          }

          h1 {
            font-size: 23px;
            text-align: center;
            width: 100%;
            padding: 15px 0px;
            margin: 0;
          }

          .text {
            text-align: center;
          }

          .author {
            text-align: center;
          }
        }

        .author-image {
          position: relative;
          height: 280px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .brokers-container.style-1 {
      padding: 20px;

      .image-container {
        height: 450px;
        margin: -20px;
        width: calc(100% + 40px)
      }

      .description {
        flex-wrap: wrap;
        padding: 20px;

        .foto {
          flex-basis: 100%;
          padding: 50px 20px;
        }

        .texto {
          flex-basis: 100%;
          padding: 50px 20px;
        }
      }

      .auto-container {
        text-align: center;

        .info-container {
          margin-top: 40px;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .brokers-container{

      .perfilBroker{
        display: flex;
        flex-direction: column;

        .brokerCol{
          width: 100%;
        }
      }

      .brokers-containerc {

        h2{
          font-size: 24px;
        }

        img.agente {
          margin-top: 32px;
          margin-bottom: 14px;
        }
      }

      .brokers-container.style-1 {

        .description {
          text-align: left;

          h2{
            font-size: 24px;
          }

          p{
            font-size: 16px;

            span{
              font-size: 16px;
            }
          }

          .motivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            text-align: center;

            .image {
              max-width: 64px;
              width: 100%;
              margin-right: 0;
            }
         }
        }

        .image-container {
          background-image: image-url('brokersPage/brokers-pagem.jpg');
        }
      }
    .contact-container {
       h2 {
        font-size: 24px;
      }

      .preContact {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 576px){
  .brokers-container.style-1{

    .description{

      .motivo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;
      }

      img{
        margin-right: 0;
        margin-bottom: 12px;
        margin-top: 30px;
      }
    }
  }

  .brokers-container {
    .perfilBroker{

      .brokerCol{

        p.bigTitle{
          font-size: 30px!important;
        }
      }
    }

    .contact-container {
      padding: 50px 0 20px 0;
      margin: 0px!important;

      h1 {
        font-size: 30px!important;
        padding: 37px 0px 0px!important;
      }
      .preContact {
        font-size: 20px!important;
      }
      .contact-form {
        padding: 20px;
        .form-group {
          margin: 5px 0px 15px!important;
          padding: 0px;
          input {
            margin: 0px!important;
          }
        }
        textarea {
          height: 310px;
          margin: 0px!important;
        }
        button {
          min-width: 100%!important;
          margin: 0px auto 30px;
        }
      }
    }
  }
}
