.brokers-container {
    position: relative;
    width: 100%;

    .auto-container {
      max-width: 1100px;
      max-height: 530px;

      .info-container {
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
        width: 615px;
        height: 530px;

        h1 {
          padding-left: 8px;
          padding-bottom: 20px;
          margin-bottom: 32px;
          border-bottom: 2px solid #0B4461;
          color: #333333;
          font-weight: 600;
        }

        .key-image {
          position: absolute;
          bottom: 0px;
          right: 0px;
          height: 100px;
        }

        .text {
          margin-bottom: 20px;
          color: #333333;
        }

        .author {
          margin-top: 40px;
          font-weight: 500;
          font-size: 16px;
        }
      }

      .author-image {
        position: absolute;
        bottom: 0px;
        height: 390px;
      }
    }
  }

  .brokers-containerc{
    text-align: center;
    padding-top: 63px;
    padding-bottom: 82px;

    img.agente{
      max-width: 188px;
      width: 100%;
      margin-top: 80px;
      margin-bottom: 14px;
    }

    h2{
      font-weight: bold;
      color: $primary-color;
      text-align: center;
    }

    h5{
      font-weight: 400;
      color: $primary-color;

      span{
        font-weight: bold;
      }
    }

    p{
      margin-bottom: 0;
    }

    button{
      margin-top: 7px;
    }

    .line{
      border-bottom: 3px solid #47B5FF;
      width: 10%;
      padding-top: 3px;
      margin-bottom: 10px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .brokers-container.style-1 {
    padding: 0px;
    padding-bottom: 52px;

    .image-container {
      height: 350px;
      width: 100%;
      background-size: cover;
      background-position: top center;
      background-image: image-url('brokersPage/brokers-page.jpg');
    }

    .auto-container {
      max-width: 750px;

      .info-container {
        height: inherit;

        h2 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 30px;

          &.primary {
            color: $primary-color;
          }
        }

        .text {
          margin-bottom: 45px;

          p {
            margin-bottom: 30px;
          }
        }
      }
    }

    .description {

      h2{
        color: $primary-color;
        padding-top: 51px;
        padding-bottom: 15px;
        font-weight: bold;
        text-align: center;
      }

      p{
        font-size: 18px;
        color: $tertiary-color;
        span{
          font-weight: 700;
        }
      }

      h5{
        font-size: 20px;
        margin-bottom: 50px;
        color: $primary-color;
        text-align: center;
      }

      .motivo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      .image{
        max-width: 64px;
        width: 100%;
        margin-right: 25px;
      }

      .texto {
        flex-basis: 50%;
        padding: 40px;
        text-align: center;

        h3 {
          color: #1a2f5d;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }
    }

    .perfilBroker{
      display: flex;
      flex-direction: row;
      margin-bottom: 80px;

      .brokerCol.bg{
        background: #f1f1f1;
        padding: 50px 16px;
      }

      .brokerCol{
        width: 50%;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        p.bigTitle{
          font-size: 28px;
          color: $primary-color;
          margin: 0;
          font-weight: 700;
          padding-bottom: 18px;
        }

        p{
          font-size: 16px;
          line-height: 1.4;
          font-weight: 500;
        }

        .innerColBroker{
          display: flex;
          width: 100%;
          max-width: 600px;
          margin: auto;
          height: 100%;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .brokers-container {
      padding: 20px 25px 0px;

      .auto-container {
        max-height: none;

        .info-container {
          margin-top: 0px;
          margin-bottom: 20px;
          width: 100%;
          height: 100%;

          .key-image {
            position: relative;
            height: 100px;
            display: block;
            margin: 40px auto;
          }

          h1 {
            font-size: 23px;
            text-align: center;
            width: 100%;
            padding: 15px 0px;
            margin: 0;
          }

          .text {
            text-align: center;
          }

          .author {
            text-align: center;
          }
        }

        .author-image {
          position: relative;
          height: 280px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    .brokers-container.style-1 {
      padding: 20px;

      .image-container {
        height: 450px;
        margin: -20px;
        width: calc(100% + 40px)
      }

      .description {
        flex-wrap: wrap;

        .foto {
          flex-basis: 100%;
          padding: 50px 20px;
        }

        .texto {
          flex-basis: 100%;
          padding: 50px 20px;
        }
      }

      .auto-container {
        text-align: center;

        .info-container {
          margin-top: 40px;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .brokers-container.style-1 .description {
      text-align: left;

      h2{
        font-size: 24px;
      }

      p{
        font-size: 16px;

        span{
          font-size: 16px;
        }
      }
    }

    .brokers-containerc {

      h2{
        font-size: 24px;
      }

      img.agente {
        margin-top: 32px;
        margin-bottom: 14px;
      }
    }
  }
