button {
  color: white;
  border-radius: 3px;
  padding: 0px 10px;
  font-size: 16px;

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  &.big {
    padding: 10px 30px;
  }

  &.primary {
    background: $primary-color;

    &:hover {
      background: white;
    }

    &.empty {
      background: white;
      border: 1px solid #0b4461;
      color: #0b4461;

      &:hover {
        background: #0b4461;
        color: white;
      }
    }
  }

  &.disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &.secondary {
    background: $secondary-color;

    &:hover {
      background: $secondary-color-hover;
    }
  }

  &.empty {
    border: 1px solid white;
    background: none;
    cursor: inherit;
  }
}

button.style-1 {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;

  &.primary:hover {
    background-color: $primary-color;
  }

  &.secondary:hover {
    background-color: $secondary-color-hover;
  }
}

button.style-2 {
  border-radius: 25px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

button.style-3 {
  border-radius: 0px;
  border-bottom: solid 3px;
  border-right: solid 3px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &.primary {
    background: $secondary-color;
    border-color: $primary-color;
  }

  &.secondary {
    background: $primary-color;
    border-color: $secondary-color;
  }
}

button.style-4 {
  position: relative;
  background: $secondary-color;
  max-height: 45px;
  padding: 10px;
  border-radius: 0px;
  border-right: 45px solid $primary-color;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:hover {
    background: $secondary-color;
  }

  &::after {
    content: '\f067';
    font: 30px FontAwesome;
    position: absolute;
    top: 0;
    right: -45px;
    padding: 7px;
    float: right;
    height: 45px;
    width: 45px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:after {
    -webkit-transform: scale(1.5) rotate(12deg);
    transform: scale(1.5) rotate(12deg);
  }
}

button.style-5 {
  background: white;
  border: 1px solid $primary-color;
  color: $primary-color;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:hover {
    color: white;
    background: white;
  }

  &:hover:before {

  }
}

button.style-5::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-color;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

button.style-6 {
  box-shadow: 0px 0px 20px 0px #888888;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

  &:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    background: $primary-color;
  }
}
