.contact-section {
  position:relative;
  padding: 0;

  .map-container {
    height: 315px;
    width: 100%;
    position: relative;

    h2 {
      position: absolute;
      background: $secondary-color;
      color: white;
      font-size: 20px;
      font-weight: 600;
      padding: 10px 25px;
      top: 55%;
      z-index: 1;
    }
  }

  .contact-container {
    max-height: 715px;
    width: 100%;
    padding: 10px;
    margin-bottom: 75px;

    h1 {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      padding: 40px 0px;
    }

    .contact-form {
      margin: 0 auto;
      max-width: 1125px;
      background: $primary-color;
      padding: 15px;

      .form-group {
        margin-bottom: 20px;

        input {
          margin-top: 30px;
          width: 100%;
          height: 40px;
          padding: 15px;
        }
      }

      textarea {
        width: 100%;
        height: 240px;
        padding: 15px;
        margin-top: 10px;
      }

      button {
        background-color: $secondary-color;
        color: white;
        font-weight: normal;
        margin: 30px auto;
        display: block;
        min-width: 200px;
      }
    }
  }
}

#contact-map {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 479px) {
  .contact-section {
    .map-container {
      height: 395px;

      h2 {
        position: static;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 23px;
      }
    }

    .contact-container {
      padding: 0px;
      margin-bottom: 0px;

      h1 {
        font-size: 23px;
        padding: 37px 0px 30px;
      }

      .contact-form {
        padding: 20px;

        .form-group {
          margin: 5px 0px;
          padding: 0px;

          input {
            margin: 0px;
          }
        }

        textarea {
          height: 310px;
          margin: 0px;
        }

        button {
          width: 100%;
          margin: 0px auto 30px;
        }
      }
    }
  }

  #contact-map {
    height: 345px;
  }
}
