.main-footer {
  position:relative;
  background: $footer-background-color;
  font-weight: 600;

  .logo {
    float: left;
    margin-bottom: 20px;

    img {
      height: 60px;
      float: left;
    }
  }

  a {
    color: $tertiary-color;
  }

  a:hover {
    color: $primary-color;
  }

  .auto-container {
    max-width: 900px;
    padding: 40px 20px;
  }

  hr {
    border-color: $tertiary-color;
    display: none;
  }

  .powered-by {
    font-weight: normal;
    width: 150px;
    margin: 0 auto;
  }
}

.footer-column {
  padding-top: 10px;
  color: white;

  h2 {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  ul li {
    margin: 5px 0;

    .icon {
      color: $tertiary-color;
      font-size: 20px;
      margin-right: 10px;
    }

    a {
      &:hover {
        color: $links-footer-hover;
      }
    }
  }
}

.main-footer.style-2 {
  .auto-container {
    max-width: 1200px;
    padding: 35px 0px;
    color: $tertiary-color;
    font-weight: normal;

    h2 {
      font-size: 21px;
      font-weight: bold;
      padding-top: 40px;
      color: $primary-color;
    }

    .line{
      border-bottom: 3px solid #47B5FF;
      width: 15%;
      padding-top: 5px;
      margin-bottom: 25px;
    }

    .social-column {
      left: 50px;
      transform: translateX(50px);

      a {
        span {
          width: 80px;
          float: left;
        }

        .icon {
          font-size: 20px;
          margin-right: 8px;
          margin-bottom: 10px;
          color: $tertiary-color;
          margin-left: 20px;
        }

        .fa-facebook-f{
          margin-right: 14px;
        }

        &:hover {
          color: $links-footer-hover;
        }

        img{
          margin-right: 20px;
        }
      }
      .info{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .office-column {
      //float: right;

      .col-md-4.col-sm-4.col-xs-12 {
        padding: 0px;
      }

      .right{
        text-align: center;
        padding-top: 40px;

        img{
          width: 135px;
          height: auto;
        }

        .rfoter {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      .info{
        a{
          line-height: 3.5;

          img{
            margin-right: 10px;
          }
        }
      }

      .office-box {
        margin-bottom: 50px;

        h3 {
          font-size: 16px;
          color: $primary-color;
        }

        .info {
          font-size: 14px;

          .fa {
            font-size: 20px;
            position: relative;
            top: 3px;
            margin-bottom: 10px;
          }
          .fa-phone{
            margin-left: 6px;
            margin-right: 6px;
          }
          .icon.fa.fa-map-marker {
            margin-left: 9px;
            margin-right: 8px;
          }
          .fa-whatsapp{
            margin-left: 6px;
            margin-right: 6px;
          }
        }

        .rfoter {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      .powered-by {
        margin: 40px 0px;
        width: 100%;
        color: $tertiary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
          margin-bottom: 0;
        }

        img {
          height: 40px;
          width: 145px;
        }
      }
    }
  }
}

.main-footer.style-3 {
  h2 {
    font-size: 21px;
    padding-bottom: 20px;
  }

  .auto-container {
    max-width: 1200px;
    padding: 40px 0px 0px;
    color: white;
    font-weight: normal;

    .links-box, .social-box, .office-box {
      height: 135px;
      margin-bottom: 10px;
    }

    ul {
      font-size: 16px;

      li {
        position: relative;

        .fa {
          color: $tertiary-color;
          position: absolute;
          bottom: 4px;
          left: -30px;
        }
      }
    }

    .info {
      font-size: 13px;
    }

    .powered-by {
      margin-top: 90px;
      margin-bottom: 50px;
      width: 210px;

      .text {
        font-size: 18px;
        padding-top: 6px;
        margin-right: 15px;
      }

      img {
        height: 26px;
        width: 145px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main-footer.style-2 {
    .auto-container {
      .powered-by {
        margin: 0px auto;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .main-footer {
    hr {
      display: block;
    }

    .social-column {
      li {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 25px;
      }

      .icon {
        font-size: 30px;
        margin: 0px;
      }

      span {
        display: none
      }
    }
  }

  .main-footer.style-2 {
    .auto-container {
      padding: 10px;

      h2 {
        padding-top: 0px;
        margin-bottom: 40px;
      }

      .social-column {
        padding: 15px;

        li {
          width: 100%;
          margin-right: 0px;

          span {
            display: block;
            font-size: 16px;
            width: 90px;
          }
        }

        .icon {
          font-size: 20px;
        }
      }

      .office-column {
        padding: 15px;

        .office-box {
          height: 140px;
          width: 100%;
          margin-bottom: 30px;

          h3 {
            font-size: 20px;
            margin-bottom: 10px;
          }

          .info {
            font-size: 14px;
          }
        }
      }
    }
  }

  .main-footer.style-3 {
    .auto-container {
      padding: 0px 20px;

      .links-box, .social-box, .office-box, .img-column {
        height: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
      }

       ul {
        font-size: 16px;

        li {
          .fa {
            position: static;
            float: left;
            font-size: 25px;
            margin-right: 60px;
          }
        }
      }

      span {
        display: none;
      }

      .powered-by {
        margin-top: 0px;
        width: 142px;

        .text {
          font-size: 13px;
        }

        img {
          height: 20px;
        }
      }
    }
  }
}
