.main-header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
  width: 100%;
  max-height: 80px;
  line-height: 40px;
  padding: 15px 20px;
  background: $header-background-color;
  border-bottom: 1px solid $header-border-color;

  .logo {
    float: left;
    margin-left: 16px;

    img {
      height: 35px;
      float: left;
      margin: 7px 0px;
      margin-top: 10px;
    }
  }

  .powered-by {
    margin-left: 50px;
    padding-top: 5px;
    float: left;
    width: auto;
    .text {
      text-align: left;
      font-weight: normal;
      vertical-align: -webkit-baseline-middle;
    }
    img {
      float: none;
    }
  }

  .right-container {
    padding: 5px 0;
    float: right;
    height: 50px;

    a {
      float: right;
      color: white;
      font-size: 16px;

      &.blog {
        margin-left: 30px;
        margin-right: 30px;

        &:hover{
          color: $links-header-hover;
        }
      }

      &.publish {
        font-weight: bold;
      }
    }
  }
}

.main-header.style-2 {
  border-bottom-width: 2px;
  padding: 5px 20px;

  .logo {
    img {
      height: 70px;
      margin: 0px;
      position: relative;
      z-index: 1;
    }
  }

  button {
    position: relative;
    float: right;
    padding: 5px 10px;
    margin: 14px;
    background: transparent;

    .icon-bar {
      display: block;
      width: 30px;
      height: 5px;
      border-radius: 3px;
      margin: 4px 0px;
      background: $primary-color;
    }
  }

  .right-container {
    height: 70px;
    margin-right: 50px;

    a {
      position: relative;
      float: left;
      top: 50%;
      -webkit-transform: translateY(-50%);
      margin: 0px 30px;
      color: $primary-color;
      font-weight: 400;

      &:hover {
        color: $links-header-hover;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .main-header.style-2 {
    padding: 5px 0px;

    .logo {
      margin-left: 20px;
    }

    .right-container {
      margin-right: 0px;
      width: 100%;
      background: $header-background-color;
      opacity: 0.95;
      height: 175px;
      margin-top: -15px;
      padding-top: 22px;
      padding-bottom: 22px;

      a {
        margin: 0px;
        width: 100%;
        text-align: center;
        top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-header .logo {
    margin: 0;
  }
  .main-header .powered-by {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .main-header {
    max-height: 60px;
    padding: 5px 20px;

    .logo {
      img {
        margin-top: 7px;
      }
    }
  }

  .main-header.style-2 {
    .logo {
      img {
        height: 50px;
      }
    }

    button {
      margin: 4px;
    }

    .right-container {
      margin-top: -11px;

      a {
        font-size: 16px;
      }
    }
  }
}
