.modal-background {
  padding: 20px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: transparentize(black, 0.2);
}

.modal-box {
  padding: 30px;
  background: white;
  border-radius: 4px;
  border: 1px solid $light-border-color;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 2px solid $light-border-color;
  color: $light-border-color;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: white;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  z-index: 1;

  i {
    position: relative;
    left: -1px;
    bottom: -2px;

    &::before {
      content: "\00d7";
      color: black;
    }
  }
}

.modal-footer {
  width: 100%;
  margin-top: 15px;

  .deselect {
    color: $primary-color;
    float: left;
    cursor: pointer;
    margin: 10px 0px;
  }

  button {
    float: right;
  }
}

.zones-modal {
  .modal-box {
    padding-bottom: 14px;
    padding-right: 50px;
    padding-left: 50px;
    width: 900px;
    height: 550px;
  }

  h3 {
    color: $primary-color;
    font-size: 20px;
  }

  .search-container {
    border-bottom: 2px solid $light-border-color;
    margin-bottom: 26px;

    .search-input {
      position: relative;
      margin-top: 10px;
      margin-bottom: 20px;

      input {
        width: 100%;
        border: 1px solid $light-border-color;
        border-radius: 3px;
        padding: 5px;
        padding-right: 30px;
      }

      .icon-search {
        position: absolute;
        right: 0px;
        font-size: 25px;
        top: 6px;
        color: $primary-color;
      }
    }
  }

  .zones-by-letter {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid $light-border-color;
  }

  .letter {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .zone {
    padding-left: 0px;

    input[type="checkbox"] {
      display: inline-block;
      float: left;
      margin-right: 5px;
      width: 14px;
      height: 14px;
    }

    .name {
      cursor: pointer;
    }
  }

  .options-container {
    height: calc(100% - 200px);
    overflow: scroll;
    overflow-x: hidden;
  }

  .gradient-background {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 37px;
    bottom: 88px;
    background-image: rgba(255,255,255,0); /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(rgba(255,255,255,0), white); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(rgba(255,255,255,0), white); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(rgba(255,255,255,0), white); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(rgba(255,255,255,0), white); /* Standard syntax */
  }

  hr {
    width: 100%;
    float: left;
  }
}

.consult-modal .modal-box {
  width: 95%;
  padding: 10px;

  .close-modal {
    z-index: 12;
  }
}

.consult-express-modal .modal-box {
  width: 350px;

  h4 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 25px;
  }

  input {
    position: relative;
    width: 100%;
    border: $thin-border;
    padding: 5px;
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .zones-modal {
    .modal-box {
      padding: 15px;
      width: 90%;
      height: 90%;
    }

    h3 {
      font-size: 14px;
    }

    .search-container {
      padding: 0 15px;
      margin: 0 -16px;
      margin-bottom: 15px;

      .search-input {
        margin-bottom: 10px;
      }
    }

    .options-container {
      height: calc(100% - 172px);

      .zone {
        padding-bottom: 10px;
      }
    }

    .gradient-background {
      height: 50px;
      bottom: 75px;
    }
  }
}

@media only screen and (max-width: 340px) {
  .zones-modal .modal-box .bottom-container {
    height: 45px;
  }
}
