.newsletter-section {
  position: relative;
  padding: 0px 0px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  .sec-title{
    margin-bottom: 50px;
  }

  button.primary {
    height: 50px;
    width: 150px;
    float: right;
  }

  input[type="email"]{
    display: inline-block;
    width: calc(100% - 160px);
    height: 50px;
    padding: 10px 20px;
    font-size: 14px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

  input[type="email"]:focus {
    border-color: $primary-color;
  }

  .outer-box {
    h2 {
      color: white;
    }

    .shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $primary-background-faded-dark;
    }
  }
}


.newsletter-style-one{
  position: relative;
  max-width: 580px;
  margin: 0 auto;
}

.newsletter-section .outer-box{
  position: relative;
  padding: 110px 20px;
  text-align: center;
  background-image: asset-url("newsletter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 599px) {
  .newsletter-section {
    button.primary {
      width: 100%;
    }

    input[type="email"] {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
