.properties-search-section, .property-listing {
  .side-section {
    float: left;
    width: 330px;

    .sidebar-container {
      position: relative;
      float: left;
      margin-left: 30px;
    }

    .banner-container {
      margin-left: 40px;
      width: auto;

      .banner {
        margin-top: 20px;
      }
    }
  }

  .filter-list {
    position: relative;
    min-height: 400px;
  }

  .sidebar-toggler {
    color: white;
    background: $primary-color;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: -15px;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    display: none;
    z-index: 10;
  }

  .property-listing-tabs {
    position: relative;
    text-align: center;
    margin-bottom: 30px;

    li {
      position: relative;
      display:inline-block;
      padding: 0px 40px;
      line-height: 24px;
      color: #6a6c6d;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 3px;
      font-size: 18px;
      margin: 0px 15px 10px;
      transition: all 300ms ease;
      -webkit-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
    }

    li:hover, li.active {
      color: $primary-color;
    }
  }

  .listings-container {
    float: right;
    width: calc(100% - 340px);
  }

  .listings-header {
    width: 100%;
    float: left;
    padding: 0 30px;
    margin-top: 20px;

    h1 {
      margin-top: 10px;
      font-size: 21px;
      color: black;
    }

    .info-container {
      float: left;
    }

    .multiselect-native-select {
      float: right;

      .multiselect-container.dropdown-menu{
        right: 0;
        left: inherit;
      }
    }

    .breadcrumbs {
      a {
        color: $primary-color;
      }
    }
  }

  .listings-box {
    padding: 0 30px;
    margin: 0 auto;

    .search-info-box {
      max-width: 500px;

      h1 {
        font-size: 17px;
      }
    }
  }

  hr {
    float: left;
    width: 100%;
  }
}

.property-listing{
  padding-top: 0px
}

.filters-header {
  width: 100%;
  float: left;
  padding: 15px;
  border-bottom: 1px solid $light-border-color;
  box-shadow: 0px 0px 20px 0px $light-border-color;
  display: none;

  button {
    float: left;
    padding: 5px 10px;
  }

  .multiselect-native-select {
    float: right;

    .multiselect-container.dropdown-menu{
      right: 0;
      left: inherit;
    }
  }

  .multiselect-container {
    li {
      padding: 5px 0;
    }

    label {
      padding: 3px 20px 3px 28px !important;
    }
  }
}

.property-listing.style-2 .auto-container {
  .property-listing-tabs {
    li {
      height: 40px;
      width: 105px;
      padding: 7px 0px;
    }

    li:hover, li.active {
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

@media only screen and (max-width: 991px) {
  .filters-header {
    display: block;
  }

  .listings-box {
    padding: 0 5px !important;
  }

  .properties-search-section {
    margin-top: 0px;

    .side-section {
      display: none;
      position: absolute;
      margin-left: 0;
      z-index: 3;
      margin-left: -10px;
      margin-top: -120px;

      .sidebar-container {
        margin-left: 0px;
        margin-top: 40px;
      }

      .banner-container {
        display: none;
      }
    }

    .listings-container {
      width: 100%;
    }

    .sidebar-toggler {
      display: block;
    }
  }

  .listings-header .multiselect-native-select{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .properties-search-section .property-listing-tabs li,
  .property-listing .property-listing-tabs li {
    padding: 0px;
  }
}

@media only screen and (max-width: 479px) {
  .property-listing .auto-container {
    padding: 5px;
  }

  .listings-header {
    padding: 0px !important;
  }

  .properties-search-section .side-section .sidebar-container {
    margin-top: 0px;
  }

  .filters-header {
    button {
      width: 100%;
      margin-bottom: 10px;
    }

    .multiselect-native-select {
      width: 100%;
    }
  }
}
