.multiselect-container {
  max-width: 100%;

  @media (max-height: 600px) {
    max-height: 280px !important;
  }


  li:not(.multiselect-filter) {
    background: white;

    &:hover {
      background: $tertiary-color !important;

      a {
        color: white;
        background: $tertiary-color;
      }
    }

    &.active {
      background: white;

      a, a:focus {
        color: black;
        background: white;
      }

      &:hover a {
        color: white;
        background: $tertiary-color;
      }
    }

    a {
      background: white;
      padding: 5px;

      .checkbox {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:hover {
        color: white;
        background: $tertiary-color;
      }
    }
  }

  .close-button {
    position: sticky;
    width: 100%;
    text-align: center;
    bottom: 0px;
    background-color: #fff;
    height: 40px;
    line-height: 40px;

    button {
      color: $primary-color;
      font-size: 14px;
      background-color: transparent;
      text-decoration: underline;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

input[type="radio"] {
  display: none;
}

li.active {
  label.radio::before, label.checkbox::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 14px;
    width: 5px;
    transform: rotate(45deg);
    background: $tertiary-color;
    border: 1px solid $tertiary-color;
    border-radius: 1px;
  }

  label.radio::after, label.checkbox::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 16px;
    width: 8px;
    transform: rotate(120deg);
    background: $tertiary-color;
    border: 1px solid $tertiary-color;
    border-radius: 1px;
  }

  &:hover {
    label.radio::before, label.checkbox::before {
      background: white;
      border: 1px solid white;
    }

    label.radio::after, label.checkbox::after {
      background: white;
      border: 1px solid white;
    }
  }
}

.multiselect-native-select {
  button {
    .multiselect-selected-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      font-size: 15px;
      width: 97%;
      padding-right: 14px;
      text-align: left;
    }

    i {
      position: absolute;
      float: right;
      top: 30%;
      right: 8px;
      border-width: 6px;
    }

    .icon-plus-circled {
      color: $primary-color;
      font-size: 23px;
      top: 50%;
      margin-top: -16px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .multiselect-container {
    li:not(.multiselect-filter) {
      a label {
        padding-left: 40px;
        padding-right: 0px;
        max-width: 312px;
      }
    }
  }

  .multiselect-native-select {
    button {
      .multiselect-selected-text {
        padding-right: 20px;
      }
    }
  }
}
